<!doctype html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Pedro Ribeiro Dias</title>
    <link href="./libraries/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./styles/style.css" rel="stylesheet">
    <script src="./libraries/vue/vue.global.js"></script>
</head>
<body>
<div id="app">
    <header class="fixed-top">
        <vnavbar></vnavbar>
    </header>
    <main>
        <vbanner></vbanner>
        <vabout></vabout>
        <vportfolio></vportfolio>
    </main>
    <footer class="container-fluid">
        <vcontact></vcontact>
    </footer>
</div>

<!-- Header Components -->
<template id="vue_navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pedro Ribeiro Dias</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="#home">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutme">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacts">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./resume.html">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<!-- Main Components -->

<template id="vue_banner">
    <section class="page container-fluid" id="home">
        <div class="row">
            <div class="col-12 col-md-6">
                <img :alt="alt" :src="`./images/${img}`" class="img-fluid mx-auto profile-img">
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <h1 class="header-title">{{title}}</h1>
                <div class="catch-phrases">
                    <p>{{line}} <span style="color: #ffc107; font-weight: 900;">|</span></p>
                </div>
            </div>
        </div>
    </section>
</template>

<template id="vue_about">
    <section class="container page" id="aboutme">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="text-center">{{title}}</h2>
                <p v-for="line in description">{{line}}</p>
                <certification_list></certification_list>
            </div>
            <div class="col-12 col-md-6">
                <skill-list></skill-list>
                <language_list></language_list>
                <interests_list></interests_list>
                <hobbies_list></hobbies_list>
            </div>
        </div>
    </section>
</template>

<template id="vue_certification_list">
    <section>
        <h3>{{title}}</h3>
        <div class="row">
            <article class="" style="" v-for="cert in certifications">
                <img :alt="cert.title" :src="`./images/badges/${cert.badge}.png`" class="img-fluid rounded-start">
                {{cert}}
            </article>
        </div>
    </section>
</template>

<template id="vue_skill_list">
    <section>
        <h3>Skills</h3>
        <input class="form-control" placeholder="Enter a skill" type="text" v-model="skill_search">

        <ul class="row skill-list" id="skills">
            <li class="col-4 col-md-3 col-lg-2" v-for="skill in filteredSkills">

                <img :alt='skill.name' :src='`https://skillicons.dev/icons?i=${skill.img}`' class="img-fluid">
                <!--                <span class="col-8 m-auto">{{ skill.name }}</span>-->
            </li>
        </ul>
    </section>
</template>

<template id="vue_language_list">
    <section>
        <h3>{{title}}</h3>
        <ul class="language-list">
            <li class="col-6 col-md-4" v-for="language in languages">
                {{language}}
            </li>
        </ul>
    </section>
</template>

<template id="vue_interests_list">
    <section>
        <h3>{{title}}</h3>
        <ul class="row interests-list">
            <li class="col-6 col-md-4" v-for="intrest in interests">
                {{intrest}}
            </li>
        </ul>
    </section>
</template>

<template id="vue_hobbies_list">
    <section>
        <h3>{{title}}</h3>
        <ul>
            <li v-for="hobbie in hobbies">
                {{hobbie}}
            </li>
        </ul>
    </section>
</template>

<template id="vue_portfolio">
    <section class="container page" id="portfolio">
        <h2 class="text-center">{{title}}</h2>
        <article v-for="proj in projects">{{proj}}</article>
    </section>
</template>

<template id="vue_contact">
    <section class="container page" id="contacts">
        <h2 class="text-center">Contact</h2>
        <div class="row">
            <div class="col-12 text-center">
                <p>© 2024 Pedro Ribeiro Dias</p>
            </div>
        </div>
    </section>
</template>

<script src="libraries/bootstrap/js/bootstrap.js"></script>
<script src="scripts/data.js"></script>
<script src="scripts/index.js"></script>

</body>
</html>