<!doctype html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Pedro Ribeiro Dias</title>
    <link href="./libraries/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./styles/style.css" rel="stylesheet">
    <script src="./libraries/vue/vue.global.js"></script>
</head>
<body>
<div id="app">
    <header class="fixed-top">
        <vnavbar></vnavbar>
    </header>
    <main>
        <vbanner></vbanner>
        <vabout></vabout>
        <div class="page container" id="skillspage">
            <div class="row">

                <div class="col-12 col-md-6">
                    <skill-list></skill-list>
                </div>
                <div class="col-12 col-md-6">
                    <language_list></language_list>
                </div>
            </div>
        </div>
        <vportfolio></vportfolio>
    </main>
    <footer class="container-fluid">
        <vcontact></vcontact>
    </footer>
</div>

<!-- Header Components -->
<template id="vue_navbar">
    <nav
            class="navbar navbar-expand-lg"
            :class="backgroundStyle"
            :data-bs-theme="themeStyle"
    >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Pedro Ribeiro Dias</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="#home">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutme">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skillspage">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacts">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./resume.html">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<!-- Main Components -->
<template id="vue_banner">
    <section class="page container-fluid d-flex align-content-md-center text-light" id="home">
        <div class="row flex-fill d-flex align-content-md-center align-content-start pt-5 pt-md-0">
            <div class="col-12 col-md-6 my-md-auto">
                <img :alt="alt" :src="img" class="img-fluid mx-auto profile-img">
            </div>
            <div class="col-12 col-md-6 text-center text-md-start d-flex flex-column justify-content-center flex-grow-1">
                <h1 class="header-title"><span class="banner-emoji">{{emoji}}</span> {{title}}</h1>
                <div class="catch-phrases">
                    <strong>{{subtitle}}<span class="catch-phrase">{{line}}</span><span class="typing-courser">|</span></strong>
                </div>
            </div>
        </div>
    </section>
</template>

<!-- About -->
<template id="vue_about">
    <section class="container page" id="aboutme">
        <div class="row">
            <h2 class="text-center col-12 mb-md-4 page-title">{{title}}</h2>
            <div class="col-12 col-md-6">
                <p class="" v-for="line in description">{{line}}</p>
                <certification_list></certification_list>
            </div>
            <div class="col-12 col-md-6">
                <interests_list></interests_list>
                <hobbies_list></hobbies_list>
            </div>
        </div>
    </section>
</template>

<template id="vue_certification_list">
    <section class="pt-5">
        <div class="carousel slide" data-bs-ride="carousel" id="carouselCerts">
            <div class="carousel-inner">
                <div :class="{active: i === 1}" class="carousel-item text-center" v-for="i in Math.ceil(certTotal / 3)">
                    <div class="d-flex justify-content-between justify-content-md-evenly">
                        <img :alt="`${cert.title} - ${cert.institution} - ${cert.date}`"
                             :data-bs-title="`${cert.title} - ${cert.institution} - ${cert.date}`"
                             :key="cert.badge"
                             :src="cert.badge"
                             class="img-fluid img-cert"
                             data-bs-toggle="tooltip"
                             v-for="cert in certifications.slice((i - 1) * 3, i * 3)"
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<template id="vue_interests_list">
    <section class="mt-5 mt-md-0">
        <h3 class="text-center page-subtitle">{{title}}</h3>
        <ul class="row hobbie-list mt-3">
            <li class="col-4 text-center" v-for="int in interests">
                <img :alt="int.title" :src="int.icon" class="img-fluid hobbie-img">
                <p>{{int.title}}</p>
            </li>
        </ul>
    </section>
</template>
<template id="vue_hobbies_list">
    <section class="mt-5 ">
        <h3 class="text-center page-subtitle">{{title}}</h3>
        <ul class="row hobbie-list mt-3">
            <li class="col-4 text-center" v-for="hobbie in hobbies">
                <img :alt="hobbie.title" :src="hobbie.icon" class="img-fluid hobbie-img">
                <p>{{hobbie.title}}</p>
            </li>
        </ul>
    </section>
</template>
<!-- .About -->

<!-- Skills - About 2 -->
<template id="vue_skill_list">
    <section class="px-md-5">
        <h3 class="page-title text-center">Skills</h3>
        <div class="my-3 my-sm-5 input-group input-group-lg">
            <label class="form-label" for="skill-searchbar">{{input_label}}</label>
            <div class="input-group">
                <input :placeholder="input_placeholder"
                       class="form-control form-control-lg"
                       id="skill-searchbar"
                       type="text"
                       v-model="skill_search">
            </div>
        </div>
        <ul class="row skill-list" id="skills">
            <li class="col-4 col-md-3" v-for="skill in filteredSkills">
                <article class="text-center">
                    <img :alt='skill.name' :src='`https://skillicons.dev/icons?i=${skill.img}`' class="img-fluid">
                    <p class="pt-2">{{skill.name}}</p>
                </article>
            </li>
        </ul>
    </section>
</template>
<template id="vue_language_list">
    <section class="px-md-5">
        <h3 class="page-title text-center">{{title}}</h3>
        <ul class="language-list mt-3 mt-sm-5">
            <li class="py-2" v-for="language in languages">
                <article>
                    <p>{{language.name}}</p>
                    <div>
                        <div :aria-valuenow="language.percentage" aria-label="Basic example" aria-valuemax="100"
                             aria-valuemin="0" class="progress" role="progressbar">
                            <div :style="{width: `${language.percentage}%`}" class="progress-bar"></div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </section>
</template>
<!-- .Skills - About 2 -->

<template id="vue_portfolio">
    <section class="container page" id="portfolio">
        <h2 class="page-title text-center">{{title}}</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-3 gy-3 gy-md-5 gx-0 gx-3 d-flex" v-for="proj in projects">
                <article class="card border-1 border-opacity-25 border-warning-subtle">
                    <img :alt="`Image for ${proj.title} project`" :src="proj.img" class="card-img-top">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{proj.title}}</h5>
                        <div class="flex-grow-1">
                            <p class="card-text">{{proj.description}}</p>
                            <p>
                                <span class="badge text-bg-secondary mx-1" v-for="tag in proj.stack">{{tag}}</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a :href="proj.linkProject" class="btn d-flex text-center btn-outline-warning" target="_blank">
                                {{linkProjectLabel}}
                            </a>
                            <a :href="proj.linkCodeLabel" class="btn d-flex text-center btn-outline-warning"
                               target="_blank">{{linkCodeLabel}}
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</template>

<template id="vue_contact">
    <section class="container page d-flex flex-column" id="contacts">
        <h2 class="page-title text-center">{{title}}</h2>
        <div class="flex-grow-1">
            <div class="row g-5">
                <section class="col-12 col-md-6">
                    <div class="d-flex justify-content-evenly flex-fill">

                        <article :key="social.name" class="text-center" v-for="social in socials">
                            <a target="_blank" :href="social.link" class="social-link">
                                <img :alt="`${social.name} icon`" :src="social.icon" class="img-fluid social-icon">
                            </a>
                            <p class="text-decoration-none">
                                {{social.message}}
                            </p>
                        </article>
                    </div>
                </section>
                <section class="col-12 col-md-6">
                    <h3 class="page-subtitle text-center pb-3">{{formTitle}}</h3>
                    <form class="row g-3 needs-validation">
                        <div :class="{ 'col-md-6': ff.size === 6 }" class="col-12" v-for="ff in formFields">
                            <label :for="ff.name" class="form-label">{{ff.label}}</label>
                            <input :id="ff.name" :placeholder="ff.placeholder" :type="ff.type" class="form-control"
                                   required v-if="ff.element === 'input'">
                            <textarea :id="ff.name" :placeholder="ff.placeholder" class="form-control"
                                      required rows="5" v-if="ff.element === 'textarea'"></textarea>
                            <div class="invalid-feedback">
                                Please provide a valid city.
                            </div>
                        </div>
                        <div class="col-12 my-3 d-flex">
                            <button class="btn btn-outline-warning flex-fill" type="submit">Submit form</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <p class="text-center">© 2024 Pedro Ribeiro Dias</p>
    </section>
</template>

<script src="libraries/bootstrap/js/bootstrap.bundle.js"></script>
<script src="scripts/data.js"></script>
<script src="scripts/index.js"></script>

</body>
</html>