/* About Me */
.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-list li {
  margin-bottom: 10px;
}

.interests-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
/* .About Me */