.page {
    min-height: 100vh;
    padding-top: 70px;
}

/* About Me */
.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-list li {
    margin-bottom: 10px;
}

.interests-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* .About Me */

.profile-img {
    display: block;
    max-height: 70vh;
    opacity: 0.85;
    clip-path: polygon(0% 0%,
    100% 0%,
    100% 75%,
    0% 100%
    );
}

#home {
    background-color: rgba(0, 0, 0, 0.5);
}

#home:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}